@import './base.css';
@import 'primeicons/primeicons.css';

.p-card {
  margin-top: 1rem;
  opacity: 0;
  animation: fade-in 300ms ease-in-out forwards;
}

.p-card:nth-of-type(2) {
  animation-delay: 200ms;
}

.p-card:nth-of-type(3) {
  animation-delay: 400ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navigation-link {
  text-decoration: none;
  font-size: 0.9rem;
  align-self: flex-start;
  padding: 0.5rem 0;
}
