@import './base.css';
@import 'primeicons/primeicons.css';

.p-card {
  margin-top: 1rem;
  opacity: 0;
  animation: fade-in 300ms ease-in-out forwards;
}

.p-card:nth-of-type(2) {
  animation-delay: 200ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
